@import "tailwindcss";

@theme {
  --color-background: #0b1020;
  --color-surface: #111827;
  --color-card: #172033;

  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;

  --color-foreground: #f8fafc;
  --color-muted: #94a3b8;

  --color-success: #34d399;
  --color-danger: #fb7185;

  --color-border: #253047;
}